In [1]:
require(data.table)

Loading required package: data.table

### (load usages)

In [2]:
usage = fread("utilities_data/datastore_export/usage.csv", stringsAsFactors=TRUE,
              colClasses=c(parent="factor", key="factor"))
setnames(usage, c("parent", "key"), c("invoice_key", "usage_key"))
setkey(usage, invoice_key, usage_key)

## raw usage count by service and unit

In [3]:
table(usage[, .(unit, service)], useNA="ifany")

                  service
unit                    Electricity Natural Gas  Oil Oil Additional Services
                      0           2           4    0                       0
  100cu.ft.           0           0           0    0                       0
  Gallon              0           0           0    0                       0
  Ton                 0           0           0    0                       0
  W                   0           1           0    0                       0
  bulk                0           0           0    0                       0
  c.f                 0           0           0    0                       0
  cf                  0           0           0    0                       0
  dumpster            0           0           0    0                       0
  each                0           0           0    0                       0
  fl                  0           0           0    0                       0
  gal                 0           0           0    0                       0
  galllon             0           0           0    0                       0
  gallon              0           0          12  100                       0
  gallons             0           0           0    4                       0
  kW                  0          18           0    0                       0
  kWh                 0          30           0    0                       0
  kw                  0         587           0    0                       0
  kwh                 0        1754           0    0                       0
  lbs                 0           0           0    0                       0
  month               0           0           0    0                       0
  parts and labors    0           0           0    0                       1
  pickup              0           0           0    0                       0
  tank                0           0           1    0                       0
  therm               0           0         777    0                       0
  therms              0           0          12    0                       0
  ton                 0           0           0    0                       0
  w                   0          35           0    0                       0
  winter              0           1           0    0                       0
  yard                0           0           0    0                       0
  yd                  2           0           0    0                       0
                  service
unit               Propane Stormwater Street Light Trash Waste Water Water    e
                         0          3            0    77           0    42    0
  100cu.ft.              0          0            0     0           0    28    0
  Gallon                 0          0            0     4           0     6    0
  Ton                    0          0            0     2           0     0    0
  W                      0          0            0     0           0     0    0
  bulk                   0          0            0     1           0     0    0
  c.f                    0          0            0     0           0    98    0
  cf                     0          0            0     0          98     0    0
  dumpster               0          0            0     1           0     0    0
  each                   0          0            0     4           0     0    0
  fl                     0          0            0     1           0     0    0
  gal                    0          0            0     4           0     0    0
  galllon                0          0            0    35           0     0    0
  gallon                 1          0            0    14           1   214    0
  gallons                1          0            0     0           5     5    0
  kW                     0          0            0     0           0     0    0
  kWh                    0          0            0     0           0     0    0
  kw                     0          0            0     0           0     0    1
  kwh                    0          0           96     1           0     0    0
  lbs                    0          0            0    27           0     0    0
  month                  0          0            0     1           0     0    0
  parts and labors       0          0            0     0           0     0    0
  pickup                 0          0            0     1           0     0    0
  tank                   0          0            0     0           0     0    0
  therm                  0          0            0     0           0     0    0
  therms                 0          0            0     0           0     0    0
  ton                    0          0            0     3           0     0    0
  w                      0          0            0     0           0     0    0
  winter                 0          0            0     0           0     0    0
  yard                   0          0            0   169           0     0    0
  yd                     0          0            0   504           0     0    0

### (recode Service and Units)
NOTE: "Waste Water" is coded NA (to be removed later) to avoid double-counting

In [4]:
levels(usage$service) = c(
  NA, "Electricity", "Natural Gas", "Oil", NA, "Propane", "Water", "Electricity",
  "Trash", NA, "Water", "Electricity")
levels(usage$unit) = c(
  NA, "cu ft", "gal", "T", "W", NA, "cu ft", "cu ft", NA, NA, NA, "gal",
  "gal", "gal", "gal", "kW", "kWh", "kW", "kWh", "lbs", NA, NA, NA, NA, "thm",
  "thm", "T", "W", NA, "yd", "yd")
table(usage[, .(unit, service)], useNA="ifany")

       service
unit    Electricity Natural Gas  Oil Propane Water Trash <NA>
  cu ft           0           0    0       0   126     0   98
  gal             0          12  104       2   225    57    6
  T               0           0    0       0     0     5    0
  W              36           0    0       0     0     0    0
  kW            606           0    0       0     0     0    0
  kWh          1880           0    0       0     0     1    0
  lbs             0           0    0       0     0    27    0
  thm             0         789    0       0     0     0    0
  yd              0           0    0       0     0   673    2
  <NA>            3           5    0       0    45    86    1

### (load fees)

In [5]:
fee = fread("utilities_data/datastore_export/fee.csv", stringsAsFactors=TRUE,
            colClasses=c(parent="factor", key="factor"))
setnames(fee, c("parent", "key"), c("invoice_key", "fee_key"))
setkey(fee, invoice_key, fee_key)

### (load feeRusage --- the cross table between fees and usages)

In [6]:
feeRusage = fread("utilities_data/datastore_export/feeRusage.csv", stringsAsFactors=TRUE,
                  colClasses="factor")
setkey(feeRusage, invoice_key, fee_key)

## overall fees by service by year

In [7]:
usage[
  setkey(feeRusage[
    fee
  ][
  , .(usage_key, amount=amount / .N), by=key(fee)
  ],
  invoice_key, usage_key)
][
, .(amount=sum(amount)), by=.(start_date=as.integer(strftime(start, "%Y")), service)
][
  order(service, start_date)
]

    start_date     service    amount
 1:       2008 Electricity    230.92
 2:       2009 Electricity   1172.49
 3:       2010 Electricity    715.63
 4:       2011 Electricity    954.00
 5:       2012 Electricity 196531.61
 6:       2013 Electricity 322578.07
 7:       2014 Electricity 330148.66
 8:       2015 Electricity  96719.18
 9:       2008 Natural Gas   1008.92
10:       2009 Natural Gas   3772.82
11:       2010 Natural Gas   2850.85
12:       2011 Natural Gas  17335.46
13:       2012 Natural Gas  51195.41
14:       2013 Natural Gas 104909.46
15:       2014 Natural Gas 136395.37
16:       2015 Natural Gas  23374.82
17:       2011         Oil  13854.34
18:       2012         Oil  26250.35
19:       2013         Oil  53883.27
20:       2014         Oil  34150.44
21:       2015         Oil  13746.78
22:       2015     Propane   4239.74
23:       2008       Water     57.72
24:       2009       Water    376.00
25:       2010       Water    393.67
26:       2011       Water   1936.67
27:       2012       Water   4483.38
28:       2013       Water  11720.82
29:       2014       Water   7017.28
30:       2015       Water   2019.24
31:       2008       Trash     76.77
32:       2009       Trash    435.03
33:       2010       Trash    333.07
34:       2011       Trash   2829.24
35:       2012       Trash  18385.40
36:       2013       Trash  33694.01
37:       2014       Trash  35011.34
38:       2015       Trash   6856.76
39:       2009          NA    202.02
40:       2010          NA    173.24
41:       2011          NA    233.68
42:       2012          NA    166.64
43:       2013          NA    178.86
44:       2014          NA    383.06
45:       2015          NA   1542.97
46:       2018          NA     34.56
47:         NA          NA  12765.27
    start_date     service    amount

### (omit Trash and NA usages, drop usages with rate units, then drop unused unit levels)

In [8]:
usage = na.omit(usage)
usage = usage[service != "Trash" & unit != "kW" & unit !="W"]
usage = droplevels(usage)

### (convert units and drop unused unit levels)

In [9]:
cuFtToGal = function(x) 7.48052 * x
usage[unit == "cu ft", `:=`(quantity=cuFtToGal(quantity), unit="gal")]
galGasToThm = function(x) 1.49828783357 * x # assuming residential fuel oil
usage[service == "Natural Gas" & unit == "gal",
      `:=`(quantity=galGasToThm(quantity), unit="thm")]
usage = droplevels(usage)

ERROR: Error in rbindlist(l, use.names, fill, idcol): Item 2 of list input is not a data.frame, data.table or list

                      end invoice_key     service    meter               start
   1: 2013-11-19T00:00:00      100001 Electricity  3565913 2013-10-21T00:00:00
   2: 2013-11-19T00:00:00      100001 Natural Gas  2029093 2013-10-21T00:00:00
   3: 2013-11-12T00:00:00      100002 Electricity 14042180 2013-10-14T00:00:00
   4: 2013-10-01T00:00:00      100003 Electricity     4557 2013-09-01T00:00:00
   5: 2014-04-14T00:00:00      100004       Water          2014-03-17T00:00:00
  ---
3134: 2013-03-26T00:00:00     9300003 Electricity    30891 2013-03-01T00:00:00
3135: 2015-02-28T00:00:00     9300005       Water          2015-02-01T00:00:00
3136: 2012-11-30T00:00:00     9300006       Water          2012-11-01T00:00:00
3137: 2015-01-12T00:00:00     9310002       Water          2014-12-10T00:00:00
3138: 2013-03-31T00:00:00     9310007       Water          2013-03-01T00:00:00
      usage_key unit    quantity
   1:         1  kWh 16000.00000
   2:         3  thm  1640.00000
   3:         1  kWh 75000.00000
   4:         1  kWh  1480.00000
   5:         1  gal    14.96104
  ---
3134:         1  kWh 15000.00000
3135:         1  gal  6000.00000
3136:         1  gal  2000.00000
3137:         1  gal     0.00000
3138:         1  gal     0.00000

ERROR: Error in rbindlist(l, use.names, fill, idcol): Item 2 of list input is not a data.frame, data.table or list

                      end invoice_key     service    meter               start
   1: 2013-11-19T00:00:00      100001 Electricity  3565913 2013-10-21T00:00:00
   2: 2013-11-19T00:00:00      100001 Natural Gas  2029093 2013-10-21T00:00:00
   3: 2013-11-12T00:00:00      100002 Electricity 14042180 2013-10-14T00:00:00
   4: 2013-10-01T00:00:00      100003 Electricity     4557 2013-09-01T00:00:00
   5: 2014-04-14T00:00:00      100004       Water          2014-03-17T00:00:00
  ---
3134: 2013-03-26T00:00:00     9300003 Electricity    30891 2013-03-01T00:00:00
3135: 2015-02-28T00:00:00     9300005       Water          2015-02-01T00:00:00
3136: 2012-11-30T00:00:00     9300006       Water          2012-11-01T00:00:00
3137: 2015-01-12T00:00:00     9310002       Water          2014-12-10T00:00:00
3138: 2013-03-31T00:00:00     9310007       Water          2013-03-01T00:00:00
      usage_key unit    quantity
   1:         1  kWh 16000.00000
   2:         3  thm  1640.00000
   3:         1  kWh 75000.00000
   4:         1  kWh  1480.00000
   5:         1  gal    14.96104
  ---
3134:         1  kWh 15000.00000
3135:         1  gal  6000.00000
3136:         1  gal  2000.00000
3137:         1  gal     0.00000
3138:         1  gal     0.00000

## overall usage by service/unit by year

In [10]:
usage[
, .(quantity=sum(quantity)),
  by=.(start_date=as.integer(strftime(start, "%Y")),
       service,
       unit)
][
  order(service, start_date)
]

    start_date     service unit    quantity
 1:       2008 Electricity  kWh    2399.000
 2:       2009 Electricity  kWh   11734.000
 3:       2010 Electricity  kWh    6429.000
 4:       2011 Electricity  kWh    8661.000
 5:       2012 Electricity  kWh 1839434.020
 6:       2013 Electricity  kWh 4072070.000
 7:       2014 Electricity  kWh 3030298.000
 8:       2015 Electricity  kWh  897594.000
 9:       2008 Natural Gas  thm     978.000
10:       2009 Natural Gas  thm    4374.000
11:       2010 Natural Gas  thm    3338.000
12:       2011 Natural Gas  thm   23916.000
13:       2012 Natural Gas  thm   76873.000
14:       2013 Natural Gas  thm  147882.434
15:       2014 Natural Gas  thm  151802.975
16:       2015 Natural Gas  thm  120318.000
17:       2011         Oil  gal    6782.700
18:       2012         Oil  gal   12630.817
19:       2013         Oil  gal   21304.556
20:       2014         Oil  gal   13920.604
21:       2015         Oil  gal    5113.300
22:       2015     Propane  gal    2563.100
23:       2008       Water  gal    1570.909
24:       2009       Water  gal   10921.559
25:       2010       Water  gal   14961.040
26:       2011       Water  gal   45086.832
27:       2012       Water  gal   93680.052
28:       2013       Water  gal   85429.000
29:       2014       Water  gal  129162.662
30:       2015       Water  gal   50083.052
    start_date     service unit    quantity